@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf");
  font-style: italic;
}


/* :root {
  --cotton-candy-bg: radial-gradient(circle at 20% 30%, #D1D0EF 15%, transparent 60%),
                     radial-gradient(circle at 70% 40%, #EEC1DD 20%, transparent 70%),
                     radial-gradient(circle at 50% 70%, #969BE7 25%, transparent 80%);
  background: var(--cotton-candy-bg);
  background-blend-mode: screen;
} */

body {
  background: 
    radial-gradient(circle at 20% 30%, rgba(150, 155, 231, 0.9) 15%, rgba(255, 192, 203, 0.2) 50%),
    radial-gradient(circle at 70% 20%, rgba(150, 155, 231, 0.8) 20%, rgba(255, 192, 203, 0.2) 60%),
    radial-gradient(circle at 40% 80%, rgba(150, 155, 231, 0.85) 25%, rgba(255, 192, 203, 0.2) 70%),
    radial-gradient(circle at 90% 60%, rgba(150, 155, 231, 0.75) 20%, rgba(255, 192, 203, 0.2) 65%),
    radial-gradient(circle at 10% 90%, rgba(150, 155, 231, 0.95) 30%, rgba(255, 192, 203, 0.2) 80%),
    
    linear-gradient(to bottom, rgba(255, 182, 193, 1), rgba(255, 240, 245, 1)); /* Różowe tło */
    
  background-blend-mode: overlay, lighten, normal;
  background-size: cover;
  background-attachment: fixed; /* Zapobiega przesuwaniu się tła */
  height: 100vh;
}



/* body {
  width: 80%;
  background-color: #FCF8FB;
} */


/* :root { */
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */
/* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  /* background-color: #FCF8FB; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
