@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf");
  font-style: italic;
}

body {
  background-size: cover;
  background-color: #EEC1DD;
  /* height: 100vh; */
  min-height: 100vh;
  
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes slow-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.slow-spinner {
  animation: slow-spin 4s linear infinite;
}

.footer {
  margin-top: auto;
  width: 100%;
}

